{% extends "dash_base.html" %} {% block content %}
<div
	class="bg-indigo-50 backdrop-blur-sm rounded-3xl w-full h-full flex flex-col text-indigo-50"
>
	<div class="sec-1 w-full">
		<h1
			class="text-4xl font-light font-serif tracking-tighter text-indigo-50 my-7 px-10 py-1 w-full bg-gradient-to-r from-indigo-950 via-indigo-950 to-transparent"
		>
			Attendance
		</h1>
		<div class="tabs flex h-fit w-full gap-5 px-10">
			{% for subject, att_ang, att, attendance in subject_attendance %}
			<div
				class="tile-1 gap-4 grid grid-rows-4 flex-1 bg-white drop-shadow-xl rounded-3xl text-indigo-950 p-5 tracking-tighter"
			>
				<h1 class="text-xl leading-5 row-span-1 font-medium flex items-center justify-center text-center">
					{{subject.subject_name}}
					<span class="text-sm float-right"></span>
				</h1>
				<div
					class="circle grow rounded-3xl row-span-3 aspect-square grid place-items-center p-5"
					style="
									background: conic-gradient(
										#1e1b4b {{att_ang}}deg,
										#1e1b4b50 {{att_ang}}deg
									);
								"
				>
					<div
						class="num h-full w-full bg-white rounded-2xl text-4xl font-black flex flex-col justify-center items-center"
					>
						<h1>{{att}}<span class="text-sm inline">%</span></h1>
						<p class="text-sm font-medium"
							>{{attendance.class_taken}} / {{attendance.total_class}}</p
						>
					</div>
				</div>
			</div>
			{% empty %}
			<h1
				class="text-3xl text-green-500 text-center my-10 py-2 rounded-xl shadow-xl bg-white w-full italic"
			>
				You're new, you don't have an attendance record
			</h1>
			{% endfor %}
		</div>
	</div>
	<div class="sec-2 w-full overflow-hidden">
		<h1
			class="text-4xl font-light font-serif tracking-tighter text-indigo-50 my-7 px-10 py-1 w-full bg-gradient-to-r from-indigo-950 via-indigo-950 to-transparent"
		>
			Today's Time Table {{now_time}}
		</h1>
		<div class="table w-full rounded-3xl px-10">
			<div class="cont w-full h-full shadow-xl rounded-3xl">
				<div
					class="headings flex justify-evenly w-full bg-white text-indigo-950 rounded-t-3xl"
				>
					<h1
						class="font-serif text-xl font-semibold border-b border-indigo-800 w-full text-center py-2"
					>
						Subject
					</h1>
					<h1
						class="font-serif text-xl font-semibold border-b border-indigo-800 w-full text-center py-2"
					>
						Time
					</h1>
					<h1
						class="font-serif text-xl font-semibold border-b border-indigo-800 w-full text-center py-2"
					>
						Room no.
					</h1>
					<h1
						class="font-serif text-xl font-semibold border-b border-indigo-800 w-full text-center py-2"
					>
						Type
					</h1>
				</div>
				<div
					class="entries rounded-b-3xl h-32 overflow-y-scroll font-medium bg-white"
				>
					<div class="w-full">
						{% for now in time_table %}
						<div
							class="entry-1 flex justify-evenly w-full text-md text-indigo-950 py-2"
						>
							<p class="text-center w-full">
								{{now.subject_id.subject_name}}
							</p>
							<p class="text-center w-full">
								{{now.time_start}} <b>to</b> {{now.time_end}}
							</p>
							<p class="text-center w-full">{{now.room_no}}</p>
							<p class="text-center w-full">
								{{now.type_of_class}}
							</p>
						</div>
						{% empty %}
						<h1
							class="text-3xl text-green-500 text-center py-10 w-full italic"
						>
							No Classes today :)
						</h1>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
