{% extends "dash_base.html" %} {% block content %}

<div
	class="bg-indigo-50 backdrop-blur-sm overflow-y-scroll pb-10 rounded-3xl w-full h-full flex flex-col text-indigo-50"
>
	<h1
		class="text-4xl font-light font-serif tracking-tighter text-indigo-50 my-7 px-10 py-1 w-full bg-gradient-to-r from-indigo-950 via-indigo-950 to-transparent"
	>
		Time Table
	</h1>
	<table
		class="self-center text-indigo-950 mx-16 bg-white px-5 shadow-xl rounded-3xl overflow-hidden"
	>
		<tr class="border-b-2 border-b-indigo-950">
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Weeks / Lecture
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 1
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 2
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 3
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 4
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 5
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 6
			</th>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Lecture 7
			</th>
		</tr>
		<tr>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Monday
			</th>
			{% for x in day_wize_timetable.Monday %}
			<td
				class="p-3 text-center {% if forloop.last %} {% else %} border-r border-r-indigo-950 {% endif %} hover:bg-green-500 hover:text-white"
			>
				{{x.subject_id.subject_name}}
			</td>

			{% endfor %}
		</tr>
		<tr>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Tuesday
			</th>
			{% for x in day_wize_timetable.Tuesday %}
			<td
				class="p-3 text-center {% if forloop.last %} {% else %} border-r border-r-indigo-950 {% endif %} hover:bg-green-500 hover:text-white"
			>
				{{x.subject_id.subject_name}}
			</td>

			{% endfor %}
		</tr>
		<tr>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Wednesday
			</th>
			{% for x in day_wize_timetable.Wednesday %}
			<td
				class="p-3 text-center {% if forloop.last %} {% else %} border-r border-r-indigo-950 {% endif %} hover:bg-green-500 hover:text-white"
			>
				{{x.subject_id.subject_name}}
			</td>

			{% endfor %}
		</tr>
		<tr>
			<th
				class="p-3 border-r-2 border-b-2 border-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Thursday
			</th>
			{% for x in day_wize_timetable.Thursday %}
			<td
				class="p-3 text-center {% if forloop.last %} {% else %} border-r border-r-indigo-950 {% endif %} hover:bg-green-500 hover:text-white"
			>
				{{x.subject_id.subject_name}}
			</td>

			{% endfor %}
		</tr>
		<tr>
			<th
				class="p-3 border-r-2 border-r-indigo-50 text-indigo-50 bg-indigo-950"
			>
				Friday
			</th>
			{% for x in day_wize_timetable.Friday %}
			<td
				class="p-3 text-center {% if forloop.last %} {% else %} border-r border-r-indigo-950 {% endif %} hover:bg-green-500 hover:text-white"
			>
				{{x.subject_id.subject_name}}
			</td>

			{% endfor %}
		</tr>
	</table>
</div>
{% endblock content%}
