<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="//cdn.tailwindcss.com"></script>
		<style>
			* {
				transition-duration: 0.5s !important;
			}
		</style>
	</head>
	<body class="overflow-x-hidden h-screen">
<div
	class="bg-sky-900 px-20 py-48 flex flex-col text-white justify-evenly h-screen"
>
	<a
		href="/login/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Login Page</a
	>
	<a
		href="/student_signup/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Student Sign-Up</a
	>
	<a
		href="/teacher_signup/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Teacher Sign-Up</a
	>
	<a
		href="/dashboard/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Dashboard</a
	>
	<a
		href="/teacher_dashboard/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Teacher Dashboard</a
	>
	<a
		href="/student_settings/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Student Settings</a
	>
	<a
		href="/teacher_settings/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Teacher Settings</a
	>
	<a
		href="/insert/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse"
		>- Insert Subjects</a
	>
	<a
		href="/admin/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse text-green-500"
		>- Admin</a
	>
	<a
		href="/logout/"
		class="text-5xl font-serif font-semibold italic hover:animate-pulse text-red-500"
		>- Logout</a
	>
	
</div>
</body></html>
