{% extends "form_base.html" %} 
{% block formname %} Student Sign-Up {% endblock formname %} 
{% block form %}

<form action="" method="POST" class="z-10 flex flex-col w-1/2">
	{% csrf_token %}
	<label class="text-lg mb-1 text-indigo-300" for="username"
		>Full Name:</label
	>
	<input
		type="text"
		name="username"
		id="username"
		class="border bg-indigo-950 border-indigo-200 text-indigo-200 accent-indigo-200 px-5 py-1 outline-none rounded-md mb-3"
	/>
	<label class="text-lg mb-1 text-indigo-300" for="email">Email-ID:</label>
	<input
		type="email"
		name="email"
		id="email"
		class="border bg-indigo-950 border-indigo-200 text-indigo-200 accent-indigo-200 px-5 py-1 outline-none rounded-md mb-3"
	/>
	<label for="dob" class="text-lg mb-1 text-indigo-300"
		>Date of Birth:
	</label>
	<input
		type="date"
		value="{{user_profile.d_o_b}}"
		name="dob"
		id="dob"
		class="border bg-indigo-950 border-indigo-200 text-indigo-200 accent-indigo-200 px-5 py-1 outline-none rounded-md mb-3"
	/>
	<label class="text-lg mb-1 text-indigo-300" for="password">Password:</label>
	<input
		type="password"
		name="password"
		id="password"
		class="border bg-indigo-950 border-indigo-200 text-indigo-200 accent-indigo-200 px-5 py-1 outline-none rounded-md mb-3"
	/>
	<label class="text-lg mb-1 text-indigo-300" for="password2"
		>Password:</label
	>
	<input
		type="password"
		name="password2"
		id="password2"
		class="border bg-indigo-950 border-indigo-200 text-indigo-200 accent-indigo-200 px-5 py-1 outline-none rounded-md mb-3"
	/>
	<label class="text-lg mb-1 text-indigo-300" for="password2"
		>Which course are you enrolling for?:</label
	>
	<select
		name="course"
		id="course"
		class="border bg-indigo-950 border-indigo-200 text-indigo-200 px-5 py-1 outline-none rounded-md mb-3"
	>
		{% for course in courses %}
		<option value="{{course}}">{{course}}</option>
		{% endfor %}
	</select>
	{% for msg in messages %}
	<dialog
		class="w-fit tracking-tighter text-center py-5 px-10 text-3xl text-indigo-950 bg-indigo-50 mb-2 rounded-2xl tracking-normal font-medium"
		id="noti-dialog"
		open
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			height="16"
			width="12"
			viewBox="0 0 384 512"
			onclick="closeDialog();"
			class="absolute top-2 right-4 cursor-pointer"
		>
			<path
				fill="#1E1B4B"
				d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
			/>
		</svg>
		{{msg}}
	</dialog>
	{% endfor %}
	<input
		type="submit"
		value="Sign Up using Email-ID"
		class="bg-indigo-200 text-indigo-900 px-5 py-1 outline-none rounded-md mb-3 tracking-tighter text-2xl font-bold"
	/>
</form>
{% endblock form %} {% block links %}
<a
	href="/login/"
	class="tracking-normal cursor-pointer px-3 py-1 text-lg bg-transparent border border-indigo-950 rounded-lg hover:text-indigo-50 hover:bg-indigo-950"
>
	Login
</a>
<a
	href="/"
	class="tracking-normal cursor-pointer px-3 py-1 text-lg bg-transparent border border-indigo-950 rounded-lg hover:text-indigo-50 hover:bg-indigo-950"
>
	Home
</a>
<a
	href="/teacher_signup/"
	class="tracking-normal cursor-pointer px-3 py-1 text-lg bg-transparent border border-indigo-950 rounded-lg hover:text-indigo-50 hover:bg-indigo-950"
>
	Teacher Sign-Up
</a>

{% endblock links %}
