{% extends "base.html" %} {% block content %}
<div class="container w-screen h-full bg-indigo-950 p-20">
	<img
		src="{{user_profile.profile_img.url}}"
		alt="Profile"
		width="100"
		class="absolute top-50 left-1/4 rounded-xl"
	/>
	<div
		class="inner-container bg-indigo-200 w-1/3 h-full rounded-xl justify-start items-center shadow-2xl m-auto p-10 flex flex-col"
	>
		<h1 class="text-5xl text-indigo-950 font-bold tracking-tight">
			Teacher Settings
		</h1>
		<p class="text-lg text-indigo-500 tracking-tight">
			Welcome {{user_profile.teacher_user.username}}
		</p>
		<hr />

		<form
			action=""
			method="POST"
			enctype="multipart/form-data"
			class="flex flex-col w-full text-lg text-indigo-950 pt-5 mt-2 border-t border-t-indigo-700"
		>
			{% csrf_token %}
			<label for="profile" class="pt-2 font-semibold">
				Profile Image:
			</label>
			<input
				type="file"
				name="image"
				class="text-md bg-indigo-100 w-full rounded-lg overflow-hidden px-3 py-1 text-indigo-950"
			/>

			<label for="address" class="pt-2 font-semibold"> Address: </label>
			<input
				type="text"
				name="address"
				id="address"
				value="{{user_profile.address}}"
				class="text-md bg-indigo-100 w-full rounded-lg overflow-hidden px-3 py-1 text-indigo-950"
			/>

			<label for="phone" class="pt-2 font-semibold"
				>Your Mobile number:
			</label>
			<input
				type="tel"
				name="phone"
				value="{{user_profile.phone}}"
				id="phone"
				class="text-md bg-indigo-100 w-full rounded-lg overflow-hidden px-3 py-1 text-indigo-950"
			/>
			<label class="pt-2 font-semibold" for="password2"
				>Which subject will you teach in
				{{user_profile.course_id.course_name}} course?:</label
			>
			<select
				name="subject"
				id="subject"
				selected="4"
				class="text-md bg-indigo-100 w-full rounded-lg overflow-hidden px-3 py-1 text-indigo-950"
			>
				{% for subject in subjects %}
				<option
					value="{{ subject.subject_name }}"
					{% if subject.subject_name == user_profile.subject_id.subject_name %}
					selected
					{% endif %}
				>
					{{ subject.subject_name }}
				</option>
				{% endfor %}
			</select>
			<input
				type="submit"
				value="Update my Profile"
				class="text-indigo-200 mt-3 bg-indigo-950 hover:shadow-lg px-5 py-1 outline-none rounded-md mb-3 tracking-tighter text-2xl font-bold"
			/>
		</form>
	</div>
</div>
{% endblock %}
